body{
    background-color: #FFFDD0;
    margin: 0px;
}

nav a{
    padding: 0vw 1vw;
    color: black;

}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content{
    margin-top: 1%;
    margin-bottom: 1%;
}

#Header_Name{
    margin-left: 5%;
    font-size: 3em;
}

header{
    background-color: white;
    box-shadow: 0px 0px 10px black;
    position: fixed;
    top: 0;
    width: 100%;
}

section{
    background-color: white;
    padding: 1vh;
    margin-bottom: 80vh;
    margin-top: 80vh;
    height: 90vh;
    box-shadow: 0px 0px 50px black;
    display: flex;
    justify-content: space-between;
}

.para{
    
    width: 100%;
    height: 110vh;
    object-position: center 30%;
    object-fit: cover;
    
}

#bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    pointer-events: none; /* study */
    top: 0;
    left: 0;
}

.homeImgs{
    width: 15vw;


}

.img_container{
    background-color: rgb(255, 242, 221);
    height: auto;
    width: auto;
    box-shadow: 5px 5px 12px black;
    padding: 1vw 1vw;
    display:inline-block;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

#section4 {
    margin-bottom: 0;
    width: 70%;
    height: 63vh;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}

footer{
    background-color: white;
    text-align: center;
    padding: 3vh 3vh;
}
#about_text{
    width: 50%;
    text-align: center;
    padding: 0vw 10vw;
}

#about_text h1{
    font-size: 4rem;
}

#bg h2 {
    position: absolute;
    top: 35vh;
    left: 50%;
    font-size: 5rem;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px 0px #996d41, 0px 0px 30px black;
}

#bg #sec_photography{
    top: 145vh;
}

#bg #sec_videography{
    top: 255vh;
}

#bg #sec_contact{
    top: 370vh;
}
#about_text h3{
    text-align: left;
    font-size: 2em;
    font-weight: 900;
}